
<p> Our Bikelist </p>

<ul>
  <% for bike in @bikes %>
    <li>
      <div>
        Type: <%= bike.type %>
      </div>
      <div>
        Color: <%= bike.color %>
      </div>
      <div>
        Gear Data: <span> Number of gears: <%= bike.gear.nu

      </div>
    </li>

  <% end %>
</ul>
